@model List<Post>
<p>Blog Home Page</p>
@foreach (Post blogPost in Model)
{
    <p>
        <a asp-controller="Blog" asp-action="Post" asp-route-year="@blogPost.PostedOn.Year" asp-route-month="@blogPost.PostedOn.Month" asp-route-day="@blogPost.PostedOn.Day" asp-route-slug="@blogPost.Slug">@blogPost.Title</a>
    </p>
    <p>
        @($"{blogPost.PostedOn.Year}-{blogPost.PostedOn.Month}-{blogPost.PostedOn.Day}")
    </p>
    <p>
        @blogPost.Content
    </p>

}